<nav class="navbar navbar-expand-sm bg-dark navbar-dark" 
    style="background: url('/G41CUTEFOX/C237-Software-Application-Development-CA2/public/images/Fragrance Background Image.png') no-repeat center center; background-size: cover;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Explorer Sauvage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Login">Login</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/Logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>